* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.calculator {
    width: 350px;
    background-color: white;

    padding: 25px;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* Display Screen */
#display {
    width: 100%;
    height: 70px;

    margin-bottom: 15px;
    padding: 10px;

    font-size: 30px;
    text-align: right;

    border: 2px solid #ddd;
    border-radius: 8px;

    background-color: #f8f8f8;
}

/* Buttons Grid */
.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}

button {
    height: 60px;

    border: none;
    border-radius: 8px;

    font-size: 22px;

    cursor: pointer;

    background-color: #e6e6e6;
}

button:hover {
    background-color: #d0d0d0;
}

.operator {
    background-color: #ffd166;
}

.equal {
    background-color: #06d6a0;

    grid-row: span 2;

    height: 130px;
}

.clear {
    background-color: #ef476f;
    color: white;
}

.zero {
    grid-column: span 2;
}

.footer-text {
    margin-top: 20px;
    font-size: 13px;
    color: #777;
}